<div class="container-fluid vh-100">
  <div class="row h-100">
    <div
      class="col-md-2 bg-light border-start p-4 d-flex flex-column justify-content-between"
      style="
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22) !important;
        background: #f4f6f9;
      "
    >
      <div>
        <h5>Bem-vindo {{ nomeUsuario }}</h5>
      </div>

      <div>
        <ul class="menu_nav_list">
          <li>
            <a [routerLink]="['/home']">
              <i class="fa fa-home"></i>

              <p>Home</p>
            </a>
          </li>

          <li *ngIf="tipoUsuario === 'adm'">
            <a [routerLink]="['/listar-usuarios']">
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>Lista usuarios</p>
            </a>
          </li>

          <li>
            <a [routerLink]="['/listar-venda']">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
              <p>Vendas</p>
            </a>
          </li>

          <li>
            <a [routerLink]="['/editar-venda/0']">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <p>cadastrar vendas</p>
            </a>
          </li>

          <li>
            <a [routerLink]="['/listar-produtos']">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <p>Produtos</p>
            </a>
          </li>

          <li>
            <a [routerLink]="['/editar-produto/0']">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              <p>Cadastrar Produtos</p>
            </a>
          </li>

          <li>
            <a [routerLink]="['/listar-eventos']">
              <i class="fa fa-calendar"></i>
              <p>Eventos</p>
            </a>
          </li>

          <li *ngIf="tipoUsuario === 'adm'">
            <a [routerLink]="['/editar-evento/0']">
              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
              <p>Cadastrar Evento</p>
            </a>
          </li>
        </ul>
      </div>

      <button (click)="Sair()" class="btn btn-danger mt-auto">Sair</button>
    </div>

    <div class="col-md-10 p-4 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
