<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let venda of vendas">
    <div style="position: relative" class="card h-100 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Venda #{{ venda.id }}</h5>

        <p class="mb-1"><strong>Vendedor:</strong> {{ venda.usuario?.nome }}</p>
        <p class="mb-1"><strong>Cliente:</strong> {{ venda.cliente?.nome }}</p>
        <p class="mb-1">
          <strong>Data da Venda:</strong> {{ venda.data | date : "dd/MM/yyyy" }}
        </p>
        <p class="mb-3">
          <strong>Observações:</strong> {{ venda.observacoes }}
        </p>

        <h6 class="card-subtitle mb-2 text-muted">Produtos:</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of venda.produtos">
            <strong>Nome:</strong> {{ item.produto?.nome }} |
            <strong>Quantidade:</strong> {{ item.quantidade }} |

            {{ item.preco_unitario | currency : "BRL" }}
          </li>
        </ul>
      </div>
      <div
        [routerLink]="['/editar-venda/', venda.id]"
        style="
          cursor: pointer;
          position: absolute;
          left: 96%;
          top: -4%;
          background: #cbcbd9;
          width: 30px;
          border-radius: 20px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
        class="btn_editar_venda"
      >
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
