<div *ngIf="usuario">
  <div class="card shadow-lg py-3">
    <div class="card-header text-center">
      <h3>Editar Usuário</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input
            type="text"
            id="nome"
            class="form-control"
            [(ngModel)]="usuario.nome"
            name="nome"
            placeholder="Digite o nome"
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            [(ngModel)]="usuario.email"
            name="email"
            placeholder="Digite o e-mail"
          />
        </div>

        <div class="mb-3">
          <label for="senha" class="form-label">Nova senha</label>
          <input
            type="text"
            id="senha"
            class="form-control"
            [(ngModel)]="novaSenha"
            name="novaSenha"
            placeholder="Digite a nova senha (opcional)"
          />
        </div>

        <div class="mb-3">
          <label for="criado_em" class="form-label">Usuário criado em</label>
          <input
            type="text"
            id="criado_em"
            class="form-control"
            [value]="usuario.criado_em | date : 'short'"
            disabled
          />
        </div>
      </form>
    </div>

  
    <div class="card-footer d-flex justify-content-between">
      <div>
       
        <button
          (click)="atualizarUsuario()"
          type="button"
          class="btn btn-success"
        >
          <i class="fa fa-save"></i> Gravar
        </button>
    
        <button
          [routerLink]="['/listar-usuarios']"
          type="button"
          class="btn btn-secondary ms-2"
        >
          <i class="fa fa-arrow-left"></i> Voltar
        </button>
      </div>
    
 
      <button
        (click)="deletarUsuario()"
        type="button"
        class="btn btn-danger"
      >
        <i class="fa fa-trash"></i> Excluir
      </button>
    </div>
    
    
  </div>
</div>
