<div *ngIf="produto">
  <div class="card shadow-lg py-3">
    <div class="card-header text-center">
      <h3>Editar Produto</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input
            type="text"
            id="nome"
            class="form-control"
            [(ngModel)]="produto.nome"
            name="nome"
            placeholder="Digite o nome"
          />
        </div>

        <div class="mb-3">
          <label for="nome" class="form-label">Valor Venda</label>
          <input
            type="text"
            id="valor_venda"
            class="form-control"
            [(ngModel)]="produto.valor_venda"
            name="valor_venda"
            placeholder="Digite o valor de venda"
            mask="(00) 00000-0000"
          />
        </div>
      </form>
    </div>

    <div class="card-footer d-flex justify-content-between">
      <div>
        <button
          *ngIf="produto?.id != 0"
          (click)="salvarProduto()"
          type="button"
          class="btn btn-success"
        >
          <i class="fa fa-save"></i> Gravar
        </button>

        <button
          [routerLink]="['/listar-produtos']"
          type="button"
          class="btn btn-secondary ms-2"
        >
          <i class="fa fa-arrow-left"></i> Voltar
        </button>
      </div>

      <button
        *ngIf="produto?.id != 0"
        (click)="excluirProduto()"
        type="button"
        class="btn btn-danger"
      >
        <i class="fa fa-trash"></i> Excluir
      </button>

      <button
        *ngIf="produto?.id === 0"
        class="btn btn-success"
        (click)="criarProduto()"
      >
        Criar
      </button>
    </div>
  </div>
</div>
